* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "adineue PRO";
}


.container {
    max-width: 1170px;
    margin: 0 auto;
}


header {
    background-color: #0B0D17;
}

.head {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: end;
    gap: 24px;


    p {
        color: #fff;
        width: 157px;
        line-height: 13.2px;
        opacity: 50%;
        font-size: 12px;
    }
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;

    a {
        color: #fff;
        font-size: 14px;
        text-decoration: none;
        transition: 0.4s;

        border-bottom: 1px solid transparent;
        line-height: 0.8;

        &:hover {
            color: #60CDF6;
            border-bottom: 1px solid #60CDF6;
        }
    }

    button {
        width: 70px;
        height: 30px;
        border-radius: 15px;
        color: #fff;
        background-color: #23252E;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #31333D;
    }
}

main {
    background-image: url(img/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

.hero {
    display: flex;
    align-items: center;
    height: 500px;

    .box {
        width: 541px;

        h1 {
            color: #fff;
            font-size: 38px;
            letter-spacing: 3px;
            position: relative;

            button {
                background-color: red;
                color: #fff;
                border-radius: 4px;
                width: 86px;
                height: 22px;
                text-transform: uppercase;
                font-size: 12px;
                border: 1px solid #EF3833;
                position: absolute;
                bottom: 12px;
                margin-left: 12px;

            }
        }

        p {
            color: #fff;
            font-size: 22px;
            font-weight: 300;
            padding-top: 16px;

            span {
                text-decoration: underline;
            }
        }

        button {
            width: 206px;
            height: 44px;
            background-color: #53C2EC;
            color: #fff;
            border-radius: 4px;
            border: 1px solid #45CCFF;
            text-transform: uppercase;
            font-size: 16px;
            margin-top: 30px;
        }

        .circle {
            display: flex;
            align-items: center;
            justify-content: end;

            div {
                text-align: end;

                span {
                    color: #60CDF6;
                }

                p {
                    letter-spacing: 1.4px;
                }
            }
        }
    }
}

.port_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.port_text {
    width: 370px;

    h1 {
        color: #242935;
        font-size: 24px;
    }

    p {
        font-size: 18px;
        color: #51555E;
        padding: 10px 0;
    }

    div {
        display: flex;
        align-items: center;
        gap: 16px;

        p {
            font-size: 12px;
            color: #A1A6B1;
        }

        button {
            width: 154px;
            height: 44px;
            border-radius: 4px;
            border: 1px solid #53C2EC;
            color: #fff;
            text-transform: uppercase;
            font-size: 16px;
            background-color: #45CCFF;
        }
    }

    .arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
    }
}

.port_img {
    display: flex;
    align-items: center;
    gap: 22px;

    img {
        width: 170px;
        height: 170px;
        border-radius: 5px;
        transition: .5s;

        &:hover {
            transform: scale(1.1);
            box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        }
    }
}

.kurs_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-top: 40px;

    .kurs_text {
        h1 {
            font-weight: 700;
            font-size: 38px;
            line-height: 41.8px;
            letter-spacing: 1%;
        }

        p {
            font-weight: 400;
            font-size: 15px;
            line-height: 19.5px;
            color: #51555E;
        }

        .kurs_p {
            width: 570px;
            height: 202px;


        }

        .button {
            display: flex;
            justify-content: end;
            padding-top: 4px;
        }
    }
}

.kursning {
    background-image: url(img/mauntains.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;

    .h2 {
        font-weight: 700;
        font-size: 38px;
        line-height: 41.8px;
        letter-spacing: 1%;
        color: #fff;
        padding-top: 70px;
        padding-bottom: 15px;
    }
}

.kursning_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .wrap1234 {
        display: flex;
        justify-content: space-between;
        gap: 100px;

        div {
            h1 {
                font-weight: 700;
                font-size: 120px;
                line-height: 132px;
                letter-spacing: 1%;
                align-items: center;
                color: #fff;
            }

            .p1 {
                font-weight: 500;
                font-style: 18px;
                line-height: 19.8px;
                color: #D9D9D9;
            }

            .p2 {
                font-weight: 400;
                font-style: 18px;
                line-height: 19.8px;
                color: #D9D9D9;
                opacity: 70%;
                padding-top: 22px;
            }
        }
    }
}


.kimlar {
    width: 100%;
    height: 350px;
    background-color: #F5F5F5;

    h1 {
        padding-top: 80px;
        padding-bottom: 40px;
        font-size: 38px;
        font-weight: 700;
        line-height: 42px;
    }

    h4 {
        font-weight: 700;
        line-height: 19px;
        font-size: 16px;
    }

    p {
        padding-top: 50px;
        color: #51555E;
    }

    h1,
    p {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.check {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 80px;
}

.kursim {
    background-image: url(img/kursim.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 830px;
}

.kurslar1{
    background-color: #F5F5F5;
    padding-top:80px;
    height: 1084px;
    h1{
        font-weight: 700;
        font-size: 38px;
        line-height: 41.8px;
        letter-spacing: 1%;
        text-align: center;
        color: #242935;

    }
}
.kurslar1_wrap {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 500px;
    padding-top: 30px;


    .kdiv1 {
        width: 970px;
        height: 240px;
        display: flex;

        .ki2 {
            padding-left: 30px;
            padding-top: 32px;

            .ki21 {
                h5 {
                    color: #475467;
                    font-weight: 600;
                    font-size: 16px;

                }
            }

            .ki22 {
                display: flex;
                gap: 17px;
                padding-top: 18px;
            }

            p {
                color: #828282;
                font-weight: 400;
                font-size: 14px;
                line-height: 16.8px;
                padding-top: 20px;
            }

            .button2 {
                padding-top: 28px;
            }
        }

        .ki3 {
            padding-left: 45px;
            padding-top: 32px;

            button {
                margin-top: 41px;
                width: 154px;
                height: 44px;
                border-radius: 4px;
                border: 1px solid #53C2EC;
                background-color: #45CCFF;
                color: #fff;
                font-weight: 400;
                font-size: 16px;
                line-height: 15.92px;
                text-align: center;
                margin-left: 115px;
            }
        }
    }

    .kdiv2 {
        width: 970px;
        height: 240px;
        display: flex;
        margin-top: 30px;

        .ki2 {
            padding-left: 30px;
            padding-top: 32px;

            .ki21 {
                h5 {
                    color: #475467;
                    font-weight: 600;
                    font-size: 16px;

                }
            }

            .ki22 {
                display: flex;
                gap: 17px;
                padding-top: 18px;
            }

            p {
                color: #828282;
                font-weight: 400;
                font-size: 14px;
                line-height: 16.8px;
                padding-top: 20px;
            }

            .button2 {
                padding-top: 28px;
            }
        }

        .ki3 {
            padding-left: 30px;
            padding-top: 32px;

            button {
                margin-top: 41px;
                width: 154px;
                height: 44px;
                border-radius: 4px;
                border: 1px solid #53C2EC;
                background-color: #45CCFF;
                color: #fff;
                font-weight: 400;
                font-size: 16px;
                line-height: 15.92px;
                text-align: center;
                margin-left: 115px;
            }
        }
    }

    .kdiv3 {
        width: 970px;
        height: 240px;
        display: flex;
        margin-top: 30px;

        .ki2 {
            padding-left: 30px;
            padding-top: 25px;

            .ki21 {
                h5 {
                    color: #475467;
                    font-weight: 600;
                    font-size: 16px;

                }
            }

            .ki22 {
                display: flex;
                gap: 17px;
                padding-top: 18px;
            }

            p {
                color: #828282;
                font-weight: 400;
                font-size: 14px;
                line-height: 16.8px;
                padding-top: 20px;
            }

            .button2 {
                padding-top: 10px;
            }
        }

        .text{
            padding-top: 12px;
        }
        .ki3 {
            padding-left: 30px;
            padding-top: 32px;

            button {
                margin-top: 41px;
                width: 154px;
                height: 44px;
                border-radius: 4px;
                border: 1px solid #53C2EC;
                background-color: #45CCFF;
                color: #fff;
                font-weight: 400;
                font-size: 16px;
                line-height: 15.92px;
                text-align: center;
                margin-left: 115px;
            }
        }
    }
}

.of{
    background-image: url(img/Sale.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;

}

.ishlari{
    background-image: url(img/ishlari.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

footer{
    background-color: #0B0D17;
    height: 216px;
    h1{
        color: #444444;
        font-weight: 400;
        font-size: 14px;
        line-height: 15.4px;
        padding-top: 88px;
    }
}
.footer_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;

}